locals {

  # List of the {{ project | lower }} roles
  {{ project | lower }}_{{ env | lower }}_roles = [
    snowflake_account_role.role_{{ env | lower }}_{{ project | lower }}_all_role.name,
    snowflake_account_role.role_{{ env | lower }}_{{ project | lower }}_all_sel_role.name,
  ]
}

module "default_grants_for_{{ project | lower }}_{{ env | lower }}_roles_v1" {
  source    = "../../../modules/grants/default_grants_new_role_v1"
  for_each  = toset(local.{{ project | lower }}_{{ env | lower }}_roles) # iterate through the entries in the list '{{ project | lower }}_{{ env | lower }}_roles'
  role_name = each.value
}
